# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv

# CadQuery / 3D Modeling
*.step
!Part_*.step  # 生成されたSTEPファイルは意図的に除外しないでおくか、あるいは生成物として除外するか要検討。ユーザーは「出力形式は...stepにしてください」と言っているので、成果物も含めるべきかもしれないが、通常はソース管理はソースのみ。しかし、今回はとりあえず除外しないでおく。
export/

# Mac
.DS_Store

# Editor
.vscode/
.idea/
